[Unit]
Description=Node Exporter
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart={{ bin_path }}/mysqld_exporter --config.my-cnf {{ cnf_path }}/.mysqld_exporter.cnf
ExecReload=/bin/kill -HUP \$MAINPID
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
